.gridcontainer{
    margin: 0;
    display: grid;
    grid-template-rows: 15% auto 10%;
    width: 100vw;
    height: 100vh;
}
.nav{
    grid-row: 1;
    display: grid;
    grid-template-columns: 5% 20% 5% 13% 13% 13% 13% 13% auto;
    background-color: white;
    box-shadow: 0px 5px 2em #cecece;
}
.content{
    grid-row: 2;
    padding: 50px 100px 100px 50px;
}
.footer{
    grid-row: 3;
    background-color: #00B7FF;
    color: white;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: left;
    padding: 10px 10px 10px 50px ;
}
.text-primary{
    font-family: 'Open Sans', sans-serif;
    color: #00B7FF;
    font-weight: bold;
    text-decoration:none;
}
.text-dark{
    font-family: 'Open Sans', sans-serif;
    color: #424554;
    text-decoration:none;
}
.text-dark-bold{
    font-family: 'Open Sans', sans-serif;
    color: #424554;
    text-decoration:none;
    font-weight: bold;
}
.titre{
    display: flex;
    grid-column: 2;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    align-self: center;
}
.nav-item{
    background-color: white;
    border: none;
    color: rgb(126, 126, 126);
    padding: -40px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 30px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}
.nav-item:hover{
    background-color: #00B7FF;
    color:white;
}
.gold{
    background-color: gold;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.homecontent{
    display: grid;
    grid-template-areas: 
    "first" 
    "second";
    row-gap: 100px;
}
.home-first{
    grid-area: first;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "title img"
    "para img";
}
.homef-title{
    grid-area: title;
    color: #00B7FF;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 30px 30px 30px 30px;
}
.homef-para{
    grid-area: para;
    font-family: 'Open Sans', sans-serif;
    padding: 50px 80px 70px 30px;
}
.homef-img{
    grid-area: img;
}

.home-second{
    grid-area: second;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 30px;
}
.homes-para{
    font-family: 'Open Sans', sans-serif;
    grid-column: 1;
    text-align: center;
    margin-top: 30%;
}
.homes-icon-container{
    align-self: center;

}
.homes-icon{
    border-radius: 50%;
    max-width:95%;
    max-height:95%;
}
.begincontent{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 50%;
    column-gap: 20px;
    row-gap: 20px;
}
.beingpara{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;

}
.beginparatitle{
    text-align: center;
    font-size: 35px;
    color: #00B7FF;
}
.beginimg1{
    grid-column: 2;
    grid-row: 1;
}
.beginimg2{
    grid-column: 3;
    grid-row: 1;
}
.beginimg3{
    grid-column: 2;
    grid-row: 2;
}
.beginimg4{
    grid-column: 3;
    grid-row: 2;
}
.growtitle{
    font-size: 100px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -40px;
}
.growpara{
    font-family: 'Open Sans', sans-serif;
    color: #424554;
    font-weight: bold;
    text-decoration:none;
    padding: 0px 200px;
    margin-bottom: 30px;
}
.growimg{
    padding: 0px 200px;
}
.aboutustitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
    color: #00B7FF;
    margin-bottom: 20px;
    margin-top: -40px;
}
.aboutusmessage{
    font-family: 'Open Sans', sans-serif;
    color: #424554;
    font-weight: bold;
    text-decoration:none;
    padding: 0px 200px;
    margin-bottom: 30px;
}
.form{
    padding: 0px 200px;
    text-align: center;
}
form label{
    font-family: 'Open Sans', sans-serif;
    color: #424554;
    font-weight: bold;
}
form input{
    margin:10px;
}
.submitbutton{
    margin-top: 30px;
    margin-bottom: 40px;
    align-self: center;
    height: 50px;
    width: 150px;
    border-radius: 16px;
    background-color: #00B7FF;
    color: white;
    box-shadow: none;
    border-width: 0;
    cursor: pointer;
}
.answer{
    text-align: center;
    background-color: #a1ffac;
    padding: 20px;
    border-radius: 16px
}
